<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Block Analytics</title>
</head>
<body>
  <h2>リスク評価したいアドレスを入力してください</h2>
  <form action="analyze" method="POST">
    <div>アドレス:<input type="text" name="address"></div>
    <div><input type="submit" value="分析する"></div>
  </form>
</body>
</html>
